@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Fix for Leaflet marker icons */
.leaflet-default-icon-path {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png");
}

/* Custom styles for drawing mode */
.leaflet-container.drawing-mode {
  cursor: crosshair !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-top.leaflet-left {
  top: 60;
}

.leaflet-control-zoom {
  border: none !important;
}

.leaflet-control a {
  background-color: white !important;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.11);
  border-radius: 100px !important;
  line-height: 25px !important;
  text-transform: uppercase;
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none !important;
}

/* Warna background bar */
.leaflet-control-geosearch form {
  position: fixed !important;
  top: 15;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white !important;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.11);
  border-radius: 40px !important;
  color: black !important;
  font-size: 14px;
  padding: 5px 15px 5px 5px;
}

/* Input di dalam search bar */
.leaflet-control-geosearch input {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 100px;
}

/* Dropdown suggestion */
.leaflet-control-geosearch.results {
  background-color: #0f172a !important;
  color: #f8fafc !important;
}
