@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Fix for Leaflet marker icons */
.leaflet-default-icon-path {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png");
}

/* Custom styles for drawing mode */
.leaflet-container.drawing-mode {
  cursor: crosshair !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Warna background bar */
.leaflet-control-geosearch form {
  position: fixed !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #1e293b !important; /* Tailwind slate-800 */
  border: 1px solid #334155 !important; /* Tailwind slate-700 */
  border-radius: 0.5rem !important; /* rounded-lg */
  color: #f1f5f9 !important; /* slate-100 */
  font-size: 14px;
}

/* Input di dalam search bar */
.leaflet-control-geosearch input {
  background-color: transparent !important;
  border: none !important;
  color: #f1f5f9 !important;
  padding: 6px 10px;
}

/* Dropdown suggestion */
.leaflet-control-geosearch .results {
  background-color: #0f172a !important; /* slate-900 */
  color: #f8fafc !important; /* slate-50 */
}
